NEXT_PUBLIC_SITE_URL=https://natfoods.com.br
NEXT_PUBLIC_WHATSAPP_NUMBER=5568992187626
NEXT_PUBLIC_WHATSAPP_DISPLAY=+55 68 99218-7626
NEXT_PUBLIC_CONTACT_EMAIL=contato@natfoods.com.br
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/natfoodsalimentos?igsh=MWg3amJ6NDNnNjRicA==
NEXT_PUBLIC_INSTAGRAM_HANDLE=@natfoodsalimentos
